<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aode.buyoapp">

    <!-- 网络连接权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/notitle">
        <activity
            android:name=".business.StartActivity"
            android:theme="@style/notitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".business.activity.LoginActivity" />
        <activity android:name=".business.activity.RegisterActivity" />
        <activity android:name=".qinxiaoshou.activity.BusinessManageConsumerOrderDetailActivity" />
        <activity
            android:name=".qinxiaoshou.activity.BusinessAddNewProductActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".qinxiaoshou.activity.BusinessChooseBusinessAndPermissionActivity" />
        <activity android:name=".qinxiaoshou.activity.BusinessMamageProductActivity" />
        <activity
            android:name=".qinxiaoshou.activity.BusinessUpdateProductMessagesActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".qinxiaoshou.activity.ConsumerOrderDetailActivity" />
        <activity android:name=".qinxiaoshou.activity.ConsumerProductDetailsActivity" />
        <activity android:name=".qinxiaoshou.activity.BusinessFriendPagerActivity" />
        <activity android:name=".qinxiaoshou.activity.BusinessProductManageSwitchActivity" />
        <activity android:name=".qinxiaoshou.activity.BusinessManageConsumerOrderPagerActivity" />
        <activity android:name=".qinxiaoshou.activity.BusinessSearchOtherBusinessPagerActivity" />
        <activity android:name=".qinxiaoshou.activity.ConsumerOrderListActivity" />
        <activity android:name=".qinxiaoshou.activity.SearchActivity" />
        <activity android:name=".qinxiaoshou.activity.SearchBusinessActivity" />
        <activity
            android:name=".qinxiaoshou.activity.ConsumerAddOrderDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".qinxiaoshou.activity.BusinessProductDetailsActivity" />
        <activity android:name=".qinxiaoshou.activity.BusinessUpdateBusinessAndPermissionActivity" />
        <activity android:name=".qinxiaoshou.activity.ConsumerPermissionPageActivity" />
        <activity android:name=".business.activity.BusinessDetailActivity"></activity>
        <activity android:name=".business.BrowseBusinessActivity" />


        <activity android:name=".LL.Login_business" />
        <activity android:name=".LL.Register_person" />
        <activity android:name=".LL.Register_business" />
        <activity
            android:name=".LL.Home_person"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".LL.Home_business"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LL.Personal.Business_Message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LL.Personal.Business_Message_update"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LL.Personal.Person_Message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LL.Personal.Person_Message_update"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LL.Personal.Person_password_update"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LL.Homepage.AllCloth.Person_HomePage_AllCloth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LL.Homepage.AllCloth.Business_HomePage_AllCloth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LL.Homepage.About.Person_Homepage_About"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LL.Recruits.Person_Recruits_Detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LL.Recruits.Business_Recruits_Add"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
