<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aode.buyoapp">

    <!-- 网络连接权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/notitle">
        <activity
            android:name=".business.StartActivity"
            android:theme="@style/notitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".business.activity.LoginActivity" />
        <activity android:name=".business.activity.RegisterActivity" />
        <activity android:name=".qinxiaoshou.activity.BusinessManageConsumerOrderDetailActivity" />
        <activity
            android:name=".qinxiaoshou.activity.BusinessAddNewProductActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".qinxiaoshou.activity.BusinessChooseBusinessAndPermissionActivity" />
        <activity android:name=".qinxiaoshou.activity.BusinessMamageProductActivity" />
        <activity
            android:name=".qinxiaoshou.activity.BusinessUpdateProductMessagesActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".qinxiaoshou.activity.ConsumerOrderDetailActivity" />
        <activity android:name=".qinxiaoshou.activity.ConsumerProductDetailsActivity" />
        <activity android:name=".qinxiaoshou.BusinessFriendPagerActivity" />
        <activity android:name=".qinxiaoshou.BusinessProductManageSwitchActivity" />
        <activity android:name=".qinxiaoshou.BusinessManageConsumerOrderPagerActivity" />
        <activity android:name=".qinxiaoshou.BusinessSearchOtherBusinessPagerActivity" />
        <activity android:name=".qinxiaoshou.ConsumerOrderListActivity" />
        <activity android:name=".qinxiaoshou.ConsumerProductListActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".qinxiaoshou.activity.ConsumerAddOrderDetailsActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".qinxiaoshou.activity.BusinessProductDetailsActivity"/>
        <activity android:name=".qinxiaoshou.activity.BusinessUpdateBusinessAndPermissionActivity"/>
        <activity
            android:name=".LL.Login_business" />
        <activity
            android:name=".LL.Register_person" />
        <activity
            android:name=".LL.Register_business" />
        <activity
            android:name=".LL.Home_person"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".LL.Home_business"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LL.Personal.Business_Message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LL.Personal.Business_Message_update"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LL.Personal.Person_Message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LL.Personal.Person_Message_update"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LL.Personal.Person_password_update"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
